.home-jumbotron{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images4.alphacoders.com/991/991606.jpg');
    background-position: center;
    background-size: cover;
}